{% extends "menu.html" %}

{% block content %}
    <table>
        <tr>
            <td>
                <h4><li>Число этажей</li></h4>
            </td>
                <td> <pre> -  </pre></td>
            <td>
                <h3 align="center">{{ building.number_of_floors }}</h3>
            </td>
        </tr>
        <tr>
            <td>
                <h4><li>Число подъездов</li></h4>
            </td>
                <td> <pre> -  </pre></td>
            <td>
                <h3 align="center">{{ building.number_of_entrances }}</h3>
            </td>
        </tr>
	    <tr>
            <td>
                <h4><li>Количество лифтов</li></h4>
            </td>
                <td> <pre> -  </pre></td>
            <td>
                <h3 align="center">{{ building.number_of_elevators }}</h3>
            </td>
        </tr>
        <tr>
            <td>
                <h4><li>Количество мусоропроводов</li></h4>
            </td>
                <td> <pre> -  </pre></td>
            <td>
                <h3 align="center">{{ building.number_of_chutes }}</h3>
            </td>
        </tr>
        <tr>
            <td>
                <h4><li>Количество проживающих</li></h4>
            </td>
                <td> <pre> -  </pre></td>
            <td>
                <h3 align="center">{{ building.number_of_residents }}</h3>
            </td>
        </tr>
        <tr>
            <td>
                <h4><li>Уборочная площадь, кв.м</li></h4>
            </td>
                <td> <pre> -  </pre></td>
            <td>
                <h3 align="center">{{ building.cleaning_area }}</h3>
            </td>
        </tr>
        <tr>
            <td>
                <h4><li>Площадь жилых помещений, кв.м</li></h4>
            </td>
                <td> <pre> -  </pre></td>
            <td>
                <h3 align="center">{{ building.residential_area }}</h3></h3>
            </td>

        </tr>
    </table>
{% endblock %}

