{% extends 'menu.html' %}

{% block content %}

    <ol>

        {% for item in items %}

            <li><h3>{{ item.title }}</h3>
                {{ item.content }}
            </li>
        <hr>
        {% endfor %}
    </ol>

    {% if paginator.num_pages > 1 %}
        <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Первая</a>
                {% if  page_obj.previous_page_number != 1 %}
                    <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                {% endif %}

            {% endif %}

            <span class="current_page">
                Страница {{ page_obj.number }} из {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                {% if  page_obj.next_page_number != paginator.num_pages %}
                    <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                {% endif %}
                <a href="?page={{ paginator.num_pages }}">Последняя &raquo;</a>
            {% endif %}
        </span>
        </div>
    {% endif %}
{% endblock %}